/*
 * CANVAS
 * A layout that allows for content, breakout, and full-width sections with consistent spacing.
 * Info: https://ryanmulligan.dev/blog/layout-breakouts/
 * 
 * CUSTOM PROPERTIES AND CONFIGURATION
 * --canvas-full-width: The full width of the content.
 * --canvas-breakout: The width of the breakout section.
 * --canvas-content: The width of the content section.
 *
 * DATA ATTRIBUTES
 * A data attribute [data-full-width="contained"] can be used to add padding to the sides of a full-width section.
 */

.l-canvas {
  --layout-breakout: calc(var(--layout-base-max) * 1.2);
  --canvas-full-width: minmax(var(--space-gutter), 1fr);
  --canvas-content: min(
    100% - (var(--space-gutter) * 3),
    var(--layout-base-max)
  );
  --canvas-content-3-4: calc(var(--canvas-content) * 3 / 4);
  --canvas-content-1-4: calc((var(--canvas-content) - var(--space-gutter)) / 4);

  display: grid;
  grid-template-columns:
    [full-width-start] var(--canvas-full-width)
    [content-start] var(--canvas-content-3-4)
    [content-3-4-end]
    var(--space-gutter)
    [content-1-4-start]
    var(--canvas-content-1-4) [content-end]
    var(--canvas-full-width) [full-width-end];
  position: relative;

  & > * {
    grid-column: content;
  }

  & > &--breakout {
    grid-column: breakout;
  }

  & > &--full-width {
    grid-column: full-width;
    display: grid;
    grid-template-columns: inherit;

    &[data-full-width="contained"] {
      padding-inline: var(--space-gutter);
    }
  }
}
