header {
  --canvas-full-width: minmax(var(--space-gutter), 1fr);
  --canvas-content: min(
    100% - (var(--space-gutter) * 2),
    var(--layout-base-max)
  );
  --canvas-content-three-quarters: calc(var(--canvas-content) * 3 / 4);
  --canvas-content-one-quarter: calc(var(--canvas-content) / 4);

  display: grid;
  grid-template-columns:
    [full-width-start] var(--canvas-full-width)
    [content-start] var(--canvas-content-three-quarters) [pattern-start] var(
      --canvas-content-one-quarter
    )
    [content-end]
    var(--canvas-full-width) [pattern-end full-width-end];
  position: relative;

  & > * {
    grid-column: content;
  }

  section {
    grid-column: content-start / pattern-start;
  }

  .pattern-1 {
    position: absolute;
    grid-column: pattern;
    top: 0;
    right: 0;
    padding-inline-start: var(--space-gutter);

    @media screen and (max-width: 1157px) {
      padding-inline-start: 0;
    }
  }

  @media screen and (max-width: 600px) {
    section {
      grid-column: content-start / content-end;
    }

    .pattern-1 {
      display: none;
    }
  }

  .pattern-2 {
    grid-column: full-width-start / content-end;
    position: absolute;
    right: 0;
    transform: translateX(0%) translateY(10%) scale(1.75);
    z-index: -1;
  }

  nav {
    margin-block-start: var(--space-l);
  }
}
