@use "../20-mixins/theme-applier" as *;
@use "../10-functions/theme-accessor" as *;

// Theme Variables
:root {
  @include themeCssVariables();
  --measure: 70ch;
}

// Semantic variables
:root {
  // Colors
  --color-global-bg: #{get(color, off-white)};
  --color-global-text: #{get(color, almost-black)};
  // --color-heading-text: #{get(color, dark-blue)};
  --color-surface-bg: #{get(color, almost-black)};
  // --color-surface-bg-interact: #{get(color, slate-blue)};
  // --color-surface-text: #{get(color, white)};
  // --color-surface-text-interact: #{get(color, white)};

  // Spacing
  --space-gutter: #{get(space, m-l)};
  --space-gutter-s: #{get(space, s)};
  --space-gutter-l: #{get(space, l)};
  --space-region: #{get(space, "4xl")};

  // Typography - Text Sizes
  --text-size-base: #{get(font-size, step-0)};
  --text-size-lede: #{get(font-size, step-1)};
  --text-size-meta: #{get(font-size, step--1)};
  --text-size-heading-1: #{get(font-size, step-3)};
  --text-size-heading-2: #{get(font-size, step-2)};

  // Fonts
  --font-display: #{get(font-family, base)};

  // Font Weights
  --font-weight-base: #{get(font-weight, regular)};

  // Accessibility
  --focus-ring: 2px solid currentColor;
  --focus-ring-offset: 2px;
}
